name: Enable Auto-Merge

on:
  pull_request_target:
    types:
      - labeled

jobs:
  enable-automerge:
    if: github.event.label.name == 'automerge'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Enable Auto-Merge for PR
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
        run: gh pr merge --auto --merge "$PR_URL"
