name: qpprime-ci
on:
  push:
    branches: [ main, master ]
  pull_request:
jobs:
  qpprime:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt # Add this line to install dependencies
      - name: Install and test
        run: |
          pip install pytest
          pytest -q
